<div class="container">

  <div class="row align-content-center">
    <div class="col-2 bg-sidenav">
      <nav class="navbar-vertical show">

        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          +
        </button>

        <div class="" id="collapseExample" [ngbCollapse]="!isCollapsed">
          <div class="bg-white card">
            <div class="card-body">
              <p><a href="athlete/edit-profile"> Edit Profile</a></p>

            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-4 bg-spot border-dark " style="width: 20rem;">
      <img class="card-img-top"
        src="https://images.unsplash.com/photo-1563685759732-3b118f9445c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
        alt="Card image cap" />
    </div>
    <div class="col-5 bg-spot border-dark">
      <h5 class="card-title" id="userName">Ben Jobs</h5>
      <h3 class="card-text">Athlete Account</h3>

      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Current Coach">
          <ng-template ngbPanelContent>
            Steve Gains
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="Workout">
          <ng-template ngbPanelContent>
            <p>workout placed here</p>
            <a routerLink="workout-page"> Edit Workout</a>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>

<hr>
<div class="col-8">
  <h1 class="mx-auto px-3 py-4">Workout Program</h1>
  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1" title="Monday">
      <ng-template ngbPanelContent>
        Steve Gains
        <br>
        <button class="btn btn-primary">Edit Workout</button>
        <br>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Tuesday">
      <ng-template ngbPanelContent>
        Push up
        <br>
        <button class="btn btn-primary">Edit Workout</button>
        <br>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Wednesday">
      <ng-template ngbPanelContent>
        Push up
        <br>
        <button class="btn btn-primary">Edit Workout</button>
        <br>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-4" title="Thursday">
      <ng-template ngbPanelContent>
        Push up
        <br>
        <button class="btn btn-primary">Edit Workout</button>
        <br>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-5" title="Friday">
      <ng-template ngbPanelContent>
        Push up
        <br>
        <button class="btn btn-primary">Edit Workout</button>
        <br>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<hr />