<div class="container">
  <div class="row">
    <div class="col-2 bg-sidenav">
      <nav class="navbar-vertical show">
        <p>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            +
          </button>
        </p>
        <div class="" id="collapseExample" [ngbCollapse]="!isCollapsed">
          <div class="bg-white card">
            <div class="card-body">
              <p><a routerLink=""> Add Workout Program</a></p>
              <p><a routerLink="edit-workout"> Edit Workout Program</a></p>
              <p><a routerLink="edit-profile"> Edit Profile</a></p>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-4 bg-spot border-dark " style="width: 20rem;">
      <img class="card-img-top"
        src="https://images.unsplash.com/photo-1563685759732-3b118f9445c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
        alt="Card image cap" />
    </div>
    <div class="col-5 bg-spot border-dark">
      <h5 class="card-title" id="userName">Ben Jobs</h5>
      <h3 class="card-text">Coach Account</h3>
      <ngb-accordion [closeOthers]="true">
        <ngb-panel *ngFor="let athlete of athletes; let i= index" title="Athlete {{i+1}}" id="panel-{{i}}">
          <ng-template ngbPanelContent>
            {{athlete.name}}
            <button (click)="getProgram(coach.id, athlete.id)">program</button>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
<hr />
<h1 class="mx-auto px-3 py-4">Athlete Dashboard</h1>
<div *ngFor="let program of programs">
  <table class="stats-bar table table-striped" *ngIf="program.isActive">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">sets</th>
        <th scope="col">reps</th>
        <th scope="col">load</th>
        <th scope="col">coach notes</th>
        <th scope="col">athlete notes</th>
        <th scope="col">day</th>
        <th scope="col">video</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of program.programExercises; let i=index">
        <td>
          {{program.programExercises[i].name}}
        </td>
        <td>
          {{program.programExercises[i].sets}}
        </td>
        <td>
          {{program.programExercises[i].reps}}
        </td>
        <td>
          {{program.programExercises[i].load}}
        </td>
        <td>
          {{program.programExercises[i].coachNotes}}
        </td>
        <td>
          {{program.programExercises[i].athleteNotes}}
        </td>
        <td>
          {{program.programExercises[i].day}}
        </td>
        <td>
          {{program.programExercises[i].exerciseUrl}}
        </td>
      </tr>
    </tbody>
  </table>
</div>