<!-- loginContainer -->
<div id="loginContainer" class="login-container">
  <form id="loginForm" class="login-form">
    <div class="form-group">
      <label for="loginInputEmail">Email address</label>
      <input type="email" class="form-control" [(ngModel)]="user.email" name="userEmail" />
    </div>
    <div class="form-group">
      <label for="loginInputPassword">Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" name="userPassword"/>
    </div>
      <input type="checkbox" [(ngModel)]="isCoach" name="isCoach"/>
      <label for="chkInputIsCoach"><small>Login as coach</small></label>
    <button
      type="submit"
      class="btn btn-primary login-btn-submit"
      id="loginBtnSubmit" (click)="onSubmit()"
    >
      Login
    </button>
  </form>
</div>
<!-- END loginContainer -->
