.login-container {
  padding: 2.5em;
  /* background-color: rgba(229,255,222,1); */
  background-color: var(--color-minty-hex);
  color: var(--color-licorice-hex);
}

.login-container > .login-form {
  display: flex;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
}

.login-container > .login-form .form-group {
  width: 100%;
  text-align: left;
}

#chkInputIsCoach {
  margin-right: 1em;
}

.login-container .login-btn-submit {
  width: 50%;
  padding: 0.5em 0;
}

@media screen and (max-width: 600px) {
  .login-container > .login-form {
    width: 100%;
  }
}
