<!-- loginContainer -->
<div id="loginContainer" class="login-container">
  <form id="loginForm" class="login-form">
    <div class="form-group">
      <label for="loginInputEmail">Email address</label>
      <input type="email" class="form-control" id="loginInputEmail" />
    </div>
    <div class="form-group">
      <label for="loginInputPassword">Password</label>
      <input type="password" class="form-control" id="loginInputPassword" />
    </div>
    <div class="form-group">
      <input type="checkbox" id="chkInputIsCoach" />
      <label for="chkInputIsCoach"><small>Login as coach</small></label>
    </div>
    <button
      type="submit"
      class="btn btn-primary login-btn-submit"
      id="loginBtnSubmit"
    >
      Login
    </button>
  </form>
</div>
<!-- END loginContainer -->
