<div class="container">
  <div class="col-5 bg-spot border-dark " style="width: 20rem;">
    <img
      class="image--cover card-img-top align-content-center"
      src="https://images.unsplash.com/photo-1563685759732-3b118f9445c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
      alt="Card image cap"
    />
    <h2 class="card-title" id="userName">{{ athlete.name }}</h2>
    <h5 class="card-text">Athlete Account</h5>
  </div>

  <div class="col-12">
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Current Coach">
        <ng-template ngbPanelContent>
          Name: {{ athlete.coach.name }}
          <hr />
          Email: {{ athlete.coach.email }}
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2" title="Workout">
        <ng-template ngbPanelContent>
          <p><a routerLink="workout-page"> Workout</a></p>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3" title="Profile">
        <ng-template ngbPanelContent>
          Name: {{ athlete.name }}
          <hr />
          Email: {{ athlete.email }}
          <hr />
          <p><a routerLink="edit-profile"> Edit Profile</a></p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
