<div class="container">
  <div class="row">
    <div class="col-2 bg-spot border-dark  float-sm-left ">
      <a routerLink="edit-profile"> Edit Profile</a>
      <hr>
      <a routerLink="#"> Search Coach</a>
      <hr>
      <a routerLink="edit-profile"> Program History</a>
      <hr>
      <a routerLink="workout-page"> Current Program</a>
    </div>
    <div class="col-3 bg-spot border-dark ">
      <img class="image--cover card-img-top align-content-center"
        src="https://images.unsplash.com/photo-1563685759732-3b118f9445c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
        alt="Card image cap" />
      <h2 class="card-title" id="userName">{{athlete.name}}</h2>
      <h2 class="card-title" id="userName">{{athlete.email}}</h2>
      <h5 class="card-text">Athlete Account</h5>
    </div>
    <div class="col-6 bg-spot border-dark">
      <h1>Current Coach</h1>
      <hr>
      <p>Name: {{athlete.coach.name}} </p>
      <p>Name: {{athlete.coach.email}} </p>
      <hr>
      <button class="btn btn-outline-dark" (click)="deleteCoach(this.athlete.coach.id,this.athlete.athleteId)">Drop
        Coach</button>
    </div>
  </div>
  <div class="table-responsive-lg bg-secondary">
    <h1>{{athlete.coach.name }} Workout Plan</h1>
    <table class="col-12 table table-hover  ">
      <thead>
        <tr>
          <th scope="row">Name</th>
          <th scope="row">Set</th>
          <th scope="row">Reps</th>
          <th scope="row">Load</th>
          <th scope="row">Day</th>
          <th scope="row">Coach Note</th>
          <th scope="row">Athlete Note</th>
          <th scope="row">Vid Upload</th>
          <th scope="row">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of exercise">
          <td>{{ item.exerciseName }}</td>
          <td>{{ item.exerciseSets }}</td>
          <td>{{ item.exerciseReps }}</td>
          <td>{{ item.exerciseLoad}}</td>
          <td>{{ item.exerciseDay }}</td>
          <td>{{ item.coachNotes }}</td>
          <td>{{ item. athleteNotes }}
            <hr>
            <div class="form-group">
              <textarea class="form-control" id="athleteComments" rows="3"></textarea>
              <label for="athleteComments">Leave a Comment</label>
            </div>
          </td>
          <td>{{ item.exerciseUrl }}</td>
          <td>
            <b>
              Completed
            </b>
            <input name="isCompleted" type="checkbox">
            <hr>
            <button type="button">Submit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>