@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --color-minty-rgb: rgb(229, 225, 222);
  --color-minty-hex: #e5ffde;

  --color-grey-rgb: rgb(187, 203, 203);
  --color-grey-hex: #bbcbcb;

  --color-orange-rgb: rgb(249, 115, 0);
  --color-orange-hex: #f97300;

  --color-teal-rgb: rgb(53, 96, 91);
  --color-teal-hex: #35605b;

  --color-licorice-rgb: rgb(24, 2, 12);
  --color-licorice-hex: #18020c;
}

body {
  background-color: ivory;
  color: var(--color-licorice-rgb);
}
